@model Baufest.Tennis.Web.Models.CanchaViewModel

@{
    ViewBag.Title = "Editar Cancha";
}

<h2>Editar Jugador</h2>

@using (Html.BeginForm("Editar", "Canchas"))
{
    @Html.HiddenFor(model => model.Id)
    @Html.Partial("_CreateUpdate", Model)
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
